body
{
    padding: 30px;
    border: 5px solid rgb(216, 19, 138);
    box-shadow:20px  0px  20px rgb(216, 19, 138);
    background-image: url('ser.webp');
    background-repeat: no-repeat;
    background-size: cover;
    width: 500px;
    height: 700px;
    margin: auto;
    text-align: center;
}
input
{
    border: 2px solid red;
    
}